@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background: #121212;
}
* {
  margin: 0;
  padding: 0;
}

@media (max-width: 640px) {
  .hide-on-mobile {
    display: none;
  }
}
 

.cursor {
  width: 600px;
  animation: typing .5s, blink .5s infinite alternate;
  border-right: 3px solid; 

}


@keyframes typing {
  0% {
      opacity: 0;
      width: 0px;
  }
  50%{
      opacity: 1;
  }
  100% {
      opacity: 0;
      width: 0px;
  }
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}